header{
    width: 100vw;
    position: fixed;
}

.container{
    width: 100vw;
    height: 80px;
    background-color: var(--color--primary);
    color: var( --color--text);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle{
    font-size: var(--font-size-large);
    font-weight: 500;
    padding: 0px 40px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    padding: 0px 40px;

    font-size: var(--font-size-large);
}

.nav ul li{
    font-size: var(--font-size-large);
    padding: 0px 15px;
}

.hamberger{
    display: none;
    padding: 0px 40px;
}


@media screen and (max-width: 768px){
    .nav{
        display: none;
    }
    .hamberger{
        display: block;
    }
}
